extends ../hub/layout

block content
    h2 Welcome to /b/
    if user
        p
            a(href="/b/upload") Upload a file.
    else
        p If you 
            a(href="/login") login to your account
            |  you can upload files.
    p
        a(href="/b/browse") Browse uploaded files.
