extends layout

block content
    ul.display
        each project in projects
            li
                a(href="#{project.href}", class="no-style")
                    div.display(style={'background-image': 'url(#{project.image})'})
                        h3= project.name
                        p= project.description
    a.user(href="/me")
        img.user(src="/images/account.png", title="Manage your account")
    img#stop_spying_on_my_shit(src="/images/im_watching_you.png")
