extends layout

block content
    h2 Your account
    p Your displayname is: #{user.displayname}
    p Your username is: #{user.username}
    if user.permissions
        p Your permissions (raw): #{user.permissions}
    else
        p You have no elevated permissions
    if user.hasPermission('administration.panel.view')
        p
            a(href="/admin")
                span Admin panel
    p
        a(href="/logout")
            span Logout
