extends layout

block content
    a(href="https://github.com/josefandersson")
        h3 GitHub
    a(href="http://myanimelist.net/animelist/DrDoof")
        h3 MyAnimeList
    a(href="https://www.youtube.com/exashes")
        h3 YouTube
    a(href="https://www.twitch.tv/joosseef")
        h3 Twitch
    a(href="https://discord.gg/0ms4biRiAzlS5PY2")
        h3 Discord
    a(href="http://hackforums.net/member.php?action=profile&uid=2240993")
        h3 HackForums
    a.user(href="/me")
        img.user(src="/images/account.png", title="Manage your account")
