extends ../layout

block content
    h2 Login!
    p.error_msg#wrong_credentials Wrong username or password.
    p.error_msg#missing_credentials Missing username or password. Please fill in the whole form.
    form(method="POST", action="/login")
        p
            label(for="username") Username: 
            input#username(name="username", placeholder="username")
        p
            label(for="password") Password: 
            input#password(name="password", type="password", placeholder="password")
        p
            input(type="submit", value="Login")
    p
        a(href="/register")
            span I do not have an account!
